.container {
    display: flex;
    flex-direction: column;
}

.containerListProduct {
    position: relative;
    display: flex;
    width: 85%;
}

.btnRemove {
    position: absolute;
    height: 30px;
    width: 150px;
    background: #6085ff;
    color: #e2e6ef;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    margin: 10px;
    z-index: 2; /* Defina a ordem de sobreposição */
    /* Ajuste a posição de acordo com a sua necessidade */
    top: 60%;
    left: 55%;
  }
  
  .btnRemove:hover {
    background-color: #2349c5;
  }