<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${mesagem}" th:text="${mensagem}"></div>

<form th:action="@{/update/{id}(id=${cliente.get().getId()})}"
      th:object="${cliente}"
      method="post">
    <label for="nome">Name</label>
    <input type="text" th:field="${cliente.nome}" id="nome" placeholder="Name">
    <label for="email">Email</label>
    <input type="text" th:field="${cliente.email}" id="email" placeholder="Email">
    <input type="submit" value="Update User">
</form>
</body>
</html>