.home {
  align-items: center;
}

.banner {
    width: 100%;
}

.titleNewProducts {
  position: relative;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: #011640;
  margin-top: 50px;
  margin-left: 25%;
}

.listProducts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

