.container {
    display: flex;
}

.tbActions {
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
}

.tbInfo {
    flex: 2;
    box-sizing: border-box;
    padding: 20px;
    margin-left: 100px;
}